.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightgray);
    
    && .authContainer {
        width: 60vw;
        display: flex;
        box-shadow: 4px 4px 24px 0px rgba(0,0,0,0.15);
        border-radius: 50px;
        transition: ease-in-out 0.1s all;
        z-index:1;

        && .authForm {
            width:70%;
            height: inherit;
            padding: 3vw;
            background: var(--white);
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            && .authTitle {
                font-size: 60px;
                font-weight: 700;
                color: var(--primary);
                text-transform: uppercase;
            }

            && .authSubtitle {
                font-size: 32px;
                font-weight: 600;
                color: var(--terciary);
                font-style:italic;
            }

            && .loginForm {
                display:flex;
                width: 90%;
                margin: 0;
                padding-bottom: 0;
                flex-direction: column;
                align-items: center;
                margin-top:3vw;

                && .authSubtitle {
                    font-size: 32px;
                    font-weight: 600;
                    color: var(--terciary);
                    font-style:italic;
                    margin-bottom: 1vh;
                }

                && .authInput{
                    width: 100%;
                    padding: 1.2vw;
                    border-radius: 24px;
                    background-color: var(--inputgray);
                    border: none;
                    border-bottom: 2px solid var(--primary);
                    outline: none;
                    margin:1vh;
                    font-size: 24px;
                    font-style: italic;
                }

                && .error {
                    color: red;
                    font-size: 0.875em;
                  }

                && .loginButton{
                    width:12vw;
                    min-width: 210px;
                    background-color: var(--primary);
                    color: var(--white);
                    margin-top: 3vw;
                    text-transform: uppercase;
                    font-size: 21px;
                    border: none;
                    outline: none;
                    padding:2vh;
                    border-radius:50px;
                    font-weight: 500;
                    cursor: pointer;
                }

                && .linkToRegister{
                    font-size: 18px;
                    font-weight: 400;
                    color: var(--primary);
                    font-style:italic;
                    margin-top: 3vw;
                    cursor: pointer;
                    display:none;
                    text-align: center;
                }

            }


        }

        && .authInfo {
            width:30%;
            height: inherit;
            padding: 3vw 2vw;
            background: var(--primary);
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;


            && .authInfoTitle{
                font-size: 32px;
                font-weight: 600;
                color: var(--white);
                text-transform: uppercase;
                text-align: center;
            }

            && .authInfoText{
                font-size: 18px;
                font-weight: 400;
                color: var(--white);
                text-align: center;
            }

            && .registerButton {
                width:12vw;
                min-width: 210px;
                background-color: var(--white);
                color: var(--primary);
                font-size: 21px;
            }
        }
    }

    && img.logo{
        position: absolute;
        bottom:1vh;
        right:1vw;
    }
}


@media screen and (max-width: 1350px) {
    .wrapper {

        && .authContainer {
            width: 80vw;
         
        }
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {

        && .authContainer {
            width: 90vw;
         
        }
    }
}

@media screen and (max-width: 800px) {
    .wrapper {

        && .authContainer {
            width: 90vw;

            && .authForm {
                width:100%;
                border-radius:50px;

                && .loginForm{

                    && .linkToRegister{
                        display:initial;
                    }

                    && .authInput{
                        padding:2vw;
                    }

                }


            }
         
            && .authInfo{
                display:none;

            }
        }
    }
}


@media screen and (max-width: 550px) {
    .wrapper {

        && .authContainer {

            && .authForm{
                padding: 10vw;

                && .authTitle {
                    font-size: 40px;
                }

                && .authSubtitle {
                    font-size: 24px;
                    margin-bottom:1vh;
                }

                && .loginForm{
                    width:100%;

                    && .authInput {
                        font-size: 21px;
                        padding:2vh 3vh;
                        font-size: 16px;
                    }

                    && .linkToRegister{
                        font-size: 16px;
                        margin-bottom:1vh;
                    }

                }

            }

        }
    }
}